.con{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 0px auto 0px;
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1602346155359&di=62d5d8edc48d6fbe65a37621c76a3c94&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2018-06-05%2F5b167a739110c.jpg) no-repeat;
    background-size: cover;
}
.left{
    /* background-color: aliceblue; */
    flex:1;
}
.right{
    /* position: relative; */
    /* background-color: beige; */
    flex:1;
}

.pi {
position: relative;
margin-top:50px;
margin-left:100px;
border-style:groove;
border-color:#98bf21;
}
.tx {
position: absolute;
margin-top:60px;
/* margin-bottom:400px; */
/* margin-left:100px; */
left: 130px;
padding: 10px;
border: 2px solid #98bf21;
}
.tr{
position: absolute;
/* margin-top:340px; */
margin-top: 10px;
margin-left: 300px;
padding: 10px;
}
.tree {
/* position: absolute;  */
z-index:auto;
/* 置于最上方 */
min-width: 600px; 
min-height: 700px;
padding: 20px;
/* 内边框距离 */
margin-top: 50px; 
margin-right: 100px;
/* right: 20%; */
margin-bottom: 150px;
background-color:rgba(220,220,220,0.1);
/* 背景颜色 */
border: 1px solid #999;
/* 文本框样式 */
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}



.tree li {
    list-style-type:none;
    /* 表单样式 */
    margin:0;
    /* 外边框距离 */
    padding:10px 5px 0 5px;
    /* 内边框距离 */
    position:relative
    /* 相对定位，置于边框最上方 */
}
.tree li::before, .tree li::after {
    content:'';
    /* 固定添加一个空格？ */
    left:-20px;
    position:absolute;
    /* 绝对定位，绝对定位的元素的位置相对于最近的已定位父元素 */
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    /* 圆角 */
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
    /* 光标样式 ，点击触手样式*/
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
    /* 边框 */
}
.tree li:last-child::before {
    height:30px
    /* 最后一个节点位于边框底部的高度 */
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
	background: #eee;
	border: 1px solid #94a0b4;
	color: #999
}