


.tree li {
    list-style-type:none;
    /* 表单样式 */
    margin:0;
    /* 外边框距离 */
    padding:10px 5px 0 5px;
    /* 内边框距离 */
    position:relative
    /* 相对定位，置于边框最上方 */
}
.tree li::before, .tree li::after {
    content:'';
    /* 固定添加一个空格？ */
    left:-20px;
    position:absolute;
    /* 绝对定位，绝对定位的元素的位置相对于最近的已定位父元素 */
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    /* 圆角 */
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
    /* 光标样式 ，点击触手样式*/
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
    /* 边框 */
}
.tree li:last-child::before {
    height:30px
    /* 最后一个节点位于边框底部的高度 */
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
	background: #eee;
	border: 1px solid #94a0b4;
	color: #999
}